<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-2 w-full">
    <div class="flex flex-col flex-auto"></div>
    <div class="flex flex-col flex-auto sm:col-span-2 md:grid-cols-2 lg:col-span-2 signture">
        <canvas #sigPad class="w-full" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></canvas>
        <div class="w-full p-4 text-black text-center font-medium">
            <div *ngIf="item1">{{ item1 }}</div>
            <div *ngIf="item2">CC {{ item2 }}
            </div>
        </div>
        <div class="flex flex-wrap">
            <a class="mt-1 px-6 ml-3" mat-button mat-flat-button (click)="clear()">
                <span class="ml-2">Volver a intentar</span>
            </a>
            <a class="mt-1 px-6 ml-3" mat-button mat-flat-button [color]="'primary'" (click)="save()">
                <span class="ml-2">Confirmar</span>
            </a>
        </div>
    </div>
    <div class="flex flex-col flex-auto"></div>
    <div class="flex flex-col flex-auto"></div>
    <div class="flex flex-col flex-auto sm:col-span-2 md:grid-cols-2 lg:col-span-2">
        <div *ngIf="codeImge">
            <img [src]="img" class="mt-10 h-35 max-auto rounded border bg-white p-1 dark:border-neutral-700 dark:bg-neutral-800">
        </div>
    </div>
    <!--
    <div class="flex flex-col flex-auto">
        <mat-form-field class="flex-auto" appearance="legacy">
            <textarea matInput hidden="true" cols="5" rows="8" ng-readonly="true" [(ngModel)]="value" (click)="itemValue($event)" value="{{img}}"></textarea>
        </mat-form-field>
    </div>
    -->
</div>