<!-- Password field -->
<mat-form-field class="w-full">
    <label [ngClass]="required ? 'required-item' : ''">{{ label }}</label>
    <input id="password" matInput type="password" [(ngModel)]="value" (keyup)="change($event)" #passwordField>
    <button mat-icon-button type="button" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
    </button>
    <mat-error>
        Password is required
    </mat-error>
</mat-form-field>
