ngx-dropzone-label {
    font-size: 13px;
    width: 100%;
}

.custom-dropzone {
    width: 100% !important;
}

.custom-dropzone {
    padding: 10px 0 10px 0;
    margin: auto;
    border: 2px dashed #002847 !important;
    color: #002847 !important;
    height: 220px !important;
}

.custom-dropzone-file {
    max-width: 100% !important;
    width: 100%;
}

ngx-dropzone-image-preview {
    width: 100%;
}

ngx-dropzone-label {
    font-size: 13px;
    width: 100%;
}

.file-list-item {
    a {
        list-style: none;
        text-decoration: none;
    }
     :hover {
        background: #ccc;
    }
}

.sign {
    background-color: #fff;
}