<app-content [title]="title" [subtitle]="subtitle" [searchPanel]="searchPanel" class="w-full">
    <div *appPanels class="w-full">
        <form [formGroup]="formInit">
            <mat-tab-group class="mt-6">
                <mat-tab label="Datos personales">
                    <div class="form-employee flex flex-col flex-auto">
                        <div class="flex flex-col px-4 mx-8 mb-6">
                            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 w-full">
                                <div class="flex flex-col flex-auto">
                                    <app-input-upload-image *ngIf="uploadProfile" label="Cargar imagenes" class="mt-5" formControlName="profilePictureUpload"></app-input-upload-image>
                                    <div *ngIf="uploadProfile && id" class="flex flex-wrap mt-6">
                                        <a class="mt-1 px-6 ml-2" mat-button mat-flat-button (click)="uploadProfile=false;showImage=true;">
                                            <span class="ml-2">Ver foto</span>
                                        </a>
                                    </div>
                                    <div *ngIf="imageProfile && showImage">
                                        <img [src]="imageProfile" class="w-64 max-w-sm rounded border bg-white p-1 dark:border-neutral-700 dark:bg-neutral-800">
                                    </div>
                                    <div *ngIf="imageProfile && showImage" class="flex flex-wrap">
                                        <a class="mt-1 px-6 ml-2" mat-button mat-flat-button [color]="'primary'" (click)="uploadProfile=true;showImage=false;">
                                            <span class="ml-2">Editar</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto">
                                    <div class="flex flex-col flex-auto">
                                        <app-input-text label="Nombres" formControlName="names" required="true"></app-input-text>
                                        <app-input-text label="Apellidos" formControlName="surnames" required="true"></app-input-text>
                                        <app-input-select label="Tipo identificación" [options]="elementsIdentificationTypes" formControlName="identificationType" required="true"></app-input-select>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-x-9 w-full">
                                <app-input-text label="Número identificación" formControlName="identificationNumber" required="true"></app-input-text>
                                <app-input-birth-date label="Fecha de nacimiento" formControlName="birthdate" required="true"></app-input-birth-date>
                                <app-input-select label="Genero" [options]="elementsGenders" formControlName="gender" required="true"></app-input-select>
                                <app-input-text label="No télefono casa" formControlName="phoneNumber" required="true"></app-input-text>
                                <app-input-text label="No teléfono movil" formControlName="cellphoneNumber" required="true"></app-input-text>
                                <app-input-text label="Dirección de domicilio" formControlName="address" required="true"></app-input-text>
                                <app-input-select label="Cargo" [options]="elementsPosition" formControlName="position" required="true"></app-input-select>
                                <app-input-select label="EPS" [options]="elementsHealthcareProvider" formControlName="healthcareProvider" required="true"></app-input-select>
                                <app-input-select label="ARL" [options]="elementsOccupationRiskManager" formControlName="occupationRiskManager" required="true"></app-input-select>
                                <app-input-select label="Fondo de pensiones" [options]="elementsPension" formControlName="pension" required="true"></app-input-select>
                                <app-input-select label="Caja de compensación" [options]="elementsCompensationFund" formControlName="compensationFund" required="true"></app-input-select>
                                <app-input-select label="Lugar trabajao" [options]="elementsWorkspace" formControlName="workspace" required="true"></app-input-select>
                                <app-input-text label="Contacto de emergencia" formControlName="contactName" required="true"></app-input-text>
                                <app-input-text label="No. teléfonico  Contacto de emergencia" formControlName="contactNumber" required="true"></app-input-text>
                                <app-input-select label="Nacionalidad" [options]="elementsCountries" formControlName="birthCountry" required="true"></app-input-select>
                                <app-input-select label="Departamento" [options]="elementsDepartaments" required="true"></app-input-select>
                                <app-input-select label="Ciudad" [options]="elementsCities" formControlName="city" required="true"></app-input-select>
                                <app-input-date label="Fecha de ingreso" formControlName="dateAdmission" required="false"></app-input-date>
                                <app-input-date label="Fecha de retiro" formControlName="withdrawalDate" required="false"></app-input-date>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Permisos médicos">
                    <div *ngIf="uploadFiles">
                        <div class="w-full float-right">
                            <a class="mt-1 px-2 ml-2 float-right" mat-button mat-flat-button (click)="onSelect($event,'SHOW_UPT')">
                                <span class="ml-2">Cerrar</span>
                            </a>
                        </div>
                        <app-input-upload-files formControlName="filesUpload"></app-input-upload-files>
                    </div>
                    <app-panel-documents *ngIf="listFiles" formControlName="showUpload" [items]="filesItems" (click)="onSelect($event,'HID_UPT')"></app-panel-documents>
                </mat-tab>
                <mat-tab label="Firma" class="sign">
                    <div class="sign mx-10 my-5 py-10">
                        <app-input-signature-canvas label="Firma" formControlName="signatureUpload" [item1]="formInit.value.names" [item2]="formInit.value.identificationNumber" class="w-full" ng-readonly="true" icon="heroicons_outline:device-mobile"></app-input-signature-canvas>
                        <div class="mx-10 bg-contain bg-center">
                            <img [src]="imageSignature">
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="pl-18">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center" mat-button mat-flat-button [color]="'primary'" (click)="onSubmit()">
                            <span class="ml-14">Guardar</span>
                        </a>
                    </div>
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center" mat-button mat-flat-button (click)="formInit.reset()">
                            <span class="ml-14">Cancelar</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-content>