<app-content [title]="title" [subtitle]="subtitle" class="w-full">
    <div *appPanels class="w-full">
        <form [formGroup]="formInit">
            <mat-tab-group class="mt-12">
                <mat-tab label="Datos personales">
                    <div class="form-employee flex flex-col flex-auto">
                        <div class="flex flex-col px-4 mx-8 mb-6">
                            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 w-full">
                                <div class="flex flex-col flex-auto">
                                    <app-input-upload-image *ngIf="uploadProfile" label="Cargar imagenes" class="mt-5" formControlName="profilePictureUpload"></app-input-upload-image>
                                    <div *ngIf="uploadProfile && imageProfile && id" class="flex flex-wrap mt-6">
                                        <a class="mt-1 px-6 ml-2" mat-button mat-flat-button (click)="uploadProfile=false;showImage=true;">
                                            <span class="ml-2">Ver foto</span>
                                        </a>
                                    </div>
                                    <div *ngIf="imageProfile && showImage">
                                        <img [src]="imageProfile" class="h-60 w-56 rounded border bg-white p-1 dark:border-neutral-700 dark:bg-neutral-800">
                                    </div>
                                    <div *ngIf="imageProfile && showImage" class="flex flex-wrap">
                                        <a class="mt-1 px-6 ml-2" mat-button mat-flat-button [color]="'primary'" (click)="uploadProfile=true;showImage=false;">
                                            <span class="ml-2">Editar</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto">
                                    <div class="flex flex-col flex-auto">
                                        <app-input-text label="Primer nombre" formControlName="firstName" (keyup)="createUsername($event,'fn'); " [required]="formInit.controls['firstName'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                        <app-input-text label="Segundo nombre" formControlName="secondName" [required]="formInit.controls['secondName'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                        <app-input-text label="Primer apellido" formControlName="firstSurname" (keyup)="createUsername($event,'pa');" [required]="formInit.controls['firstSurname'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-x-9 w-full">
                                <app-input-text label="Segundo apellido" formControlName="secondSurname" (keyup)="createUsername($event,'sa');" [required]="formInit.controls['secondSurname'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-select label="Tipo identificación" [options]="elementsIdentificationTypes" formControlName="identificationType" [required]="formInit.controls['identificationType'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-text label="Número identificación" formControlName="identificationNumber" [required]="formInit.controls['identificationNumber'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-birth-date label="Fecha de nacimiento" formControlName="birthdate" [required]="formInit.controls['birthdate'].hasError('required')" [validateFormSumt]="validate"></app-input-birth-date>
                                <app-input-select label="Genero" [options]="elementsGenders" formControlName="gender" [required]="formInit.controls['gender'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-text label="No télefono casa" formControlName="phoneNumber" [required]="formInit.controls['phoneNumber'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-text label="No teléfono movil" formControlName="cellphoneNumber" [required]="formInit.controls['cellphoneNumber'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-text label="Dirección de domicilio" formControlName="address" [required]="formInit.controls['address'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-select label="Cargo" [options]="elementsPosition" formControlName="position" [required]="formInit.controls['position'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-select label="EPS" [options]="elementsHealthcareProvider" formControlName="healthcareProvider" [required]="formInit.controls['healthcareProvider'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-select label="ARL" [options]="elementsOccupationRiskManager" formControlName="occupationRiskManager" [required]="formInit.controls['occupationRiskManager'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-select label="Fondo de pensiones" [options]="elementsPension" formControlName="pension" [required]="formInit.controls['pension'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-select label="Caja de compensación" [options]="elementsCompensationFund" formControlName="compensationFund" [required]="formInit.controls['compensationFund'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-select label="Lugar trabajao" [options]="elementsWorkspace" formControlName="workspace" [required]="formInit.controls['workspace'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-text label="Contacto de emergencia" formControlName="contactName" [required]="formInit.controls['contactName'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-text label="No. teléfonico  Contacto de emergencia" formControlName="contactNumber" [required]="formInit.controls['contactNumber'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-select label="Nacionalidad" [options]="elementsCountries" formControlName="birthCountry" [required]="formInit.controls['birthCountry'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-select label="Departamento" [options]="elementsDepartaments" [validateFormSumt]="validate"></app-input-select>
                                <app-input-select label="Ciudad" [options]="elementsCities" formControlName="city" [required]="formInit.controls['city'].hasError('required')" [validateFormSumt]="validate"></app-input-select>
                                <app-input-date label="Fecha de ingreso" formControlName="dateAdmission" [required]="formInit.controls['dateAdmission'].hasError('required')" maxInputDate="{{ formInit.value.withdrawalDate ? formInit.value.withdrawalDate : '' }}" [validateFormSumt]="validate"></app-input-date>
                                <app-input-date label="Fecha de retiro" formControlName="withdrawalDate" [required]="formInit.controls['withdrawalDate'].hasError('required')" minInputDate="{{ formInit.value.dateAdmission ? formInit.value.dateAdmission : '' }}" [validateFormSumt]="validate"></app-input-date>
                                <app-input-email label="Email" formControlName="email" [required]="formInit.controls['email'].hasError('required')" [validateFormSumt]="validate"></app-input-email>
                                <app-input-text label="Usuario" formControlName="username" [required]="formInit.controls['username'].hasError('required')" [validateFormSumt]="validate"></app-input-text>
                                <app-input-bool label="Aprobador" formControlName="isManager" [required]="formInit.controls['isManager'].hasError('required')" [validateFormSumt]="validate"></app-input-bool>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Permisos médicos">
                    <app-multimedia [items]="filesItems" searchPanel="true" formControlName="filesUpload"></app-multimedia>
                </mat-tab>
                <mat-tab label="Firma" class="sign">
                    <div class="sign mx-10 my-5 py-10">
                        <app-input-signature-canvas label="Firma" formControlName="signatureUpload" [item1]="formInit.value.names" [item2]="formInit.value.identificationNumber" class="w-full" ng-readonly="true" icon="heroicons_outline:device-mobile"></app-input-signature-canvas>
                        <div class="mx-10 bg-contain bg-center">
                            <img [src]="imageSignature">
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="pl-18">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center" mat-button mat-flat-button [color]="'primary'" (click)="onSubmit()">
                            <span class="ml-14">Guardar</span>
                        </a>
                    </div>
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center" mat-button mat-flat-button (click)="formInit.reset()">
                            <span class="ml-14">Cancelar</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-content>