/* ----------------------------------------------------------------------------------------------------- */


/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@import '../app/components/mat-table-responsive/mat-table-responsive.directive';
body,
.theme-default {
    //002847
    --fuse-primary: #B0C0DC;
    --fuse-primary-rgb: 255, 255, 255;
    --tw-text-opacity: 0, 40, 71;
    //--fuse-primary-rgb: 27, 118, 190;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}


/* ------------- Scroll  ------------*/

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #5a585a;
    font-family: "Poppins", serif;
}

body::-webkit-scrollbar {
    width: 20px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}


/*-------------------------------------*/

Table .menu-compact-list {
    position: fixed;
}

table.mat-table {
    width: 100% !important;
    .actions {
        width: 5%;
    }
}

.mt-right {
    float: right;
}

.logo-menu-navigation {
    background: white;
    border: 8px solid #002847;
}

.menu-clasic {
    position: fixed;
}

.panel-main {
    /*left: 18rem;
    right: 0;*/
    position: fixed;
    top: 4rem;
    padding-top: 5rem;
    z-index: 5;
}

.py-1 {
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
}

.content-page {
    margin-top: 12rem;
}

.w-index-main {
    .w-pad-top {
        padding-top: unset !important;
    }
    .w-pad-bottom {
        padding-bottom: 1rem !important;
    }
}

.main-header-compact {
    position: fixed !important;
    right: 2px;
}

.select-checkbox {
    width: 15%;
}

.mat-card {
    padding: unset !important;
}

.mat-row:nth-child(even) {
    background-color: #F5F7FE !important;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

@media only screen and (max-width: 959px) {
    .panel-main {
        left: 0px;
        right: 0;
        position: fixed;
        top: 3rem;
        z-index: 5;
    }
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
.mat-vertical-stepper-header {
    padding: 10px 14px;
}


/* -------------- Custom Dropzone -------------*/

.custom-dropzone {
    width: 100%;
    padding: 10px 0 10px 0;
    float: right;
    border: 2px dashed #A2A1A1 !important;
    color: #A2A1A1 !important;
    .custom-dropzone-file {
        max-width: 100% !important;
        width: 100%;
    }
}

ngx-dropzone-image-preview {
    width: 100%;
}

ngx-dropzone-label {
    font-size: 13px;
    width: 100%;
}

.file-list-item {
    a {
        list-style: none;
        text-decoration: none;
    }
     :hover {
        background: #ccc;
    }
}


/* --------------  -------------*/

re-captcha.is-invalid>div {
    border: 1px solid #dc3545 !important;
    border-radius: 0.2rem;
}

::ng-deep .custom-frame {
    & .mat-checkbox-background,
    .mat-checkbox-frame {
        border-radius: 70% !important;
    }
}

.show-filters-button {
    button {
        float: right;
    }
}

label {
    font-weight: 600;
    margin-bottom: 0.8em !important;
}

.mat-table {
    font-family: "Poppins", serif;
}

.mat-tab-group {
    background-color: #F1F5F9;
}

.mat-card {
    background-color: #F1F5F9 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0 0 !important;
}

.mat-form-field-flex {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    color: #969090;
    padding: 1px 10px 7px 15px;
    border-radius: 8px;
    font-size: 16px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.3em !important;
    margin: 5px 0 0 0 !important;
}

body.light .mat-option,
body.light .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-select .mat-select-trigger .mat-select-value {
    color: #969090;
}

.mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label+.mat-tab-label {
    margin-left: 4px;
    background-color: #748EB8;
    border-radius: unset !important;
    color: #FFFFFF;
}

.mat-header-cell {
    font-size: 15px !important;
    text-align: center !important;
}

tr.mat-header-row {
    height: 50px !important;
}

.mat-tab-labels {
    display: flex;
    background-color: #748EB8;
}

.mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {
    background-color: #F5F7FE !important;
    border-radius: unset !important;
}

.mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    color: #FFFFFF !important;
}

td.mat-cell:last-of-type {
    padding-right: unset !important;
}

body.light .mat-card:not([class*=mat-elevation-z]),
body .light .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: unset !important;
}

.btn-add {
    border: 1px solid #D9D9D9 !important;
    border-radius: 5px 5px !important;
    padding-left: unset !important;
    float: right;
    width: 100%;
    text-align: center !important;
    .mat-icon {
        background-color: #748EB8 !important;
        border-radius: 5px 0 0 5px !important;
        color: #fff !important;
        height: 38px !important;
        width: 40px !important;
    }
}

.mat-button,
.mat-flat-button {
    justify-content: unset !important;
    border-radius: 8px !important;
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
}

.required-item {
    &:after {
        content: " *";
        color: #df1c30;
    }
}