<div class="flex flex-col flex-auto">
    <label [ngClass]="required === true ? 'required-item' : ''">{{ label }}</label>
    <div class="bg-white pt-5 px-10 rounded-lg">
        <mat-radio-group class="flex flex-col" name="value" [color]="'primary'" [(ngModel)]="value" (click)="itemValue($event)">
            <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-x-9 w-full">
                <div class="flex flex-col flex-auto" *ngFor="let option of options">
                    <mat-radio-button class="mb-2" [value]="option.code" [value]="option.code">
                        {{option.name}}
                    </mat-radio-button>
                </div>
            </div>
        </mat-radio-group>
    </div>
</div>