.quantity-input {
    width: 60px;
    text-align: center;
}

.quantity-input {
    .mat-form-field-wrapper {
        padding: 0;
        margin: 0;
    }
}

.quantity-input-box {
    font-size: 16px;
    font-weight: 600;
}
