<div class="w-full p-12 mt-2">

    <canvas #sigPad width="300" height="150" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></canvas>
    <br/>
    <button (click)="clear()" class="mt-1 px-6 ml-3" mat-button mat-flat-button [color]="'primary'">clear</button>
    <button (click)="save()" class="mt-1 px-6 ml-3" mat-button mat-flat-button [color]="'primary'">save</button>
    <br/>
    <div class="p-12 mt-2">
        <img [src]="img">
    </div>
    <br/>
    <span>{{img}}</span>


</div>