<app-content class="w-full" [title]="title" [subtitle]="subtitle" [searchPanel]="searchPanel">
    <a *appActions class="mt-1 px-6 ml-3" mat-button mat-flat-button [color]="'primary'" (click)="onSubmit()">
        <mat-icon svgIcon="heroicons_outline:plus" color="text-white"></mat-icon>
        <span class="ml-2">Guardar cliente</span>
    </a>
    <div *appPanels class="w-full">
        <form [formGroup]="formInit">
            <div class="flex flex-col flex-auto mt-2">
                <div class="flex flex-col px-8 my-6   rounded">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-x-9 w-full">
                        <app-input-text label="NIT de la empresa" formControlName="identificationNumber"></app-input-text>
                        <app-input-text label="Razón Social" formControlName="name"></app-input-text>
                        <app-input-text label="Representante Legal" formControlName="name"></app-input-text>
                        <app-input-select label="Regimen" [options]="regimen" formControlName="regimen"></app-input-select>
                        <app-input-text label="Ciudad" formControlName="city"></app-input-text>
                        <app-input-text label="Dirección" formControlName="address"></app-input-text>
                        <app-input-text label="Teléfono" formControlName="phone"></app-input-text>
                        <app-input-text label="Correo de contacto" formControlName="email"></app-input-text>
                        <app-input-text label="Página web" formControlName="website"></app-input-text>

                        <app-input-text label="Departmento" formControlName="department"></app-input-text>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-content>