<div class="flex flex-col flex-auto w-full w-index-main">
    <!-- Header -->
    <div class="flex panel-main  flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">Inicio</div>
        </div>
        <!-- Actions -->
        <div class="mt-4 sm:mt-0">
        </div>
    </div>

    <!-- Header -->
    <div class="p-12 mt-2">
        <div class="relative py-8 px-4 sm:p-16 w-full bg-[#002847] dark mt-32 p-12">
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <!-- @formatter:on -->
            <div class="z-10 relative flex flex-col items-center ">
                <h2 class="text-xl font-semibold">BIENVENIDO</h2>
                <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                    fomsigna
                </div>
            </div>
        </div>
    </div>

</div>