<mat-card class="item w-full h-auto border-indigo-500/50">
    <div class="flex flex-col flex-auto mt-2 rounded-2xl">
        <!-- Items list -->
        <div class=" w-full" *ngIf="searchPanel">
            <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-3
                bg-card shadow rounded-2xl overflow-hidden mat-item-card">
                <!-- Main actions -->
                <div class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-4 gap-8 w-full">
                    <div class="flex flex-col flex-auto sm:col-span-3 md:grid-cols-3 lg:col-span-3">
                        <mat-form-field class="flex-auto gt-xs:pl-3">
                            <input matInput #input placeholder="Buscar documento" (keyup)="applyFilter($event)">
                            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <ng-container *ngFor="let add of aditional">
                        <ng-container *ngTemplateOutlet="add.templateRef"></ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <mat-card *ngIf="obs" class="item w-full h-auto bg-white mt-4 p-3 shadow rounded-2xl">
            <ng-container>
                <div class="flex flex-wrap -m-2 mt-2">
                    <ng-container *ngFor="let file of obs | async;">
                        <a class="flex flex-col w-32 h-40 m-2 p-2 shadow rounded-2xl cursor-pointer bg-card" (click)="getPreview(file)">
                            <div class="aspect-w-9 aspect-h-6">
                                <div class="flex items-center justify-center">
                                    <div class="relative">
                                        <mat-icon role="img" class="mat-icon notranslate icon-size-14 text-hint opacity-50 mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="document" data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z">
                                                    </path><path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path></svg>
                                        </mat-icon>

                                        <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white" [class.bg-red-600]="file.ext === '.pdf'" [class.bg-blue-600]="file.ext === '.docx'" [class.bg-green-600]="file.ext === '.xlsx'" [class.bg-gray-600]="file.ext === '.txt'"
                                            [class.bg-amber-600]="file.ext === '.jpeg' || file.ext === '.png'">
                                            {{file.ext.toUpperCase()}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                <div class="truncate" [matTooltip]="file.name">{{file.name}}
                                </div>
                                <ng-container *ngIf="file.contents">
                                    <div class="text-secondary truncate">{{file.contents}}
                                    </div>
                                </ng-container>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </ng-container>
            <mat-paginator *ngIf="obs" [pageSize]="size" [pageIndex]="page" showFirstLastButtons [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </mat-card>
    </div>
</mat-card>