<div class="w-full">
    <div class="mt-3">
        <!-- <pre>{{ formInit.value.selectAutoComplete | json }}
        </pre>-->
        <form [formGroup]="formInit">
            <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-3 bg-card shadow rounded-2xl  mat-item-card">
                <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-8 w-full">
                    <div class="flex flex-col flex-auto sm:col-span-3 md:grid-cols-3 lg:col-span-3">
                        <app-input-multi-select label="Empleados administrativos" class="mt-1" formControlName="selectAutoComplete" [selectedItem]="approvalsItems" (ngModelChange)="asignar()" [options]="itemsAutoComplte"></app-input-multi-select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <!-- <pre>{{ formApproval.value | json }}</pre> -->
    <form [formGroup]="formApproval">
        <div *ngIf="formId" class="bg-[#748EB8] text-white font-medium grid grid-cols-1 p-3 sm:grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-x-4 w-full">
            <div class="flex flex-col flex-auto">Empleado</div>
            <div class="flex flex-col flex-auto">Motivo</div>
            <div class="flex flex-col flex-auto">Observación</div>
            <div class="flex flex-col flex-auto">Fecha</div>
            <div class="flex flex-col flex-auto">Acción</div>
        </div>
        <div *ngIf="!formId" class="bg-[#748EB8] text-white font-medium p-3 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
            <div class="flex flex-col flex-auto">Empleado</div>
            <div class="flex flex-col flex-auto">Motivo</div>
            <div class="flex flex-col flex-auto">Observación</div>
        </div>
        <div formArrayName="data" class="w-full" *ngFor="let aprv of formApproval.get('data')['controls']; let i = index">
            <div [formGroupName]="i" class="w-full">
                <div class="flex flex-col my-2  rounded">
                    <div *ngIf="formId" class="grid grid-cols-1 sm:grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-x-4 w-full">
                        <div class="flex flex-col flex-auto">
                            <mat-form-field class="flex-auto" appearance="legacy">
                                <input matInput formControlName="employeeName">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto">
                            <mat-form-field>
                                <mat-select placeholder="Motivo" (ngModelChange)="addFormValue()" formControlName="reason">
                                    <mat-option value="">Seleccione una opción</mat-option>
                                    <mat-option *ngFor="let option of reason" [value]="option.code">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto">
                            <mat-form-field class="flex-auto" appearance="legacy">
                                <textarea matInput (keyup)="addFormValue()" formControlName="observations" cols="2" rows="2"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto">
                            <mat-form-field class="flex-auto" appearance="legacy">
                                <input matInput formControlName="createdAt">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto">
                            <mat-form-field>
                                <mat-select placeholder="Acción" (ngModelChange)="addFormValue()" formControlName="state">
                                    <mat-option value="">Seleccione una opción</mat-option>
                                    <mat-option *ngFor="let option of actions" [value]="option.code">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="!formId" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                        <div class="flex flex-col flex-auto">
                            <mat-form-field class="flex-auto" appearance="legacy">
                                <input matInput formControlName="employeeName">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto">
                            <mat-form-field>
                                <mat-select placeholder="Motivo" (ngModelChange)="addFormValue()" formControlName="reason">
                                    <mat-option value="">Seleccione una opción</mat-option>
                                    <mat-option *ngFor="let option of reason" [value]="option.code">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto">
                            <mat-form-field class="flex-auto" appearance="legacy">
                                <textarea matInput (keyup)="addFormValue()" formControlName="observations" cols="2" rows="2"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>