<div class="flex flex-col flex-auto h-full bg-white">
    <div class="flex md:w-full md:max-w-7xl sm:rounded-2xl  overflow-hidden sm:bg-card">
        <div class="relative hidden md:flex flex-auto items-center justify-center h-full  overflow-hidden bg-gray-800 dark:border-r">

            <img src="assets/images/login/fondo-login.jpeg" class="h-full">
        </div>
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <app-logo-app sizeImage="18"></app-logo-app>

                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">¡Bienvenido!</div>


                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Sign in form -->
                <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Seleccione una empresa</mat-label>
                        <mat-select [formControlName]="'company'">
                            <mat-option *ngFor="let company of companies" [value]="company.uuid">
                                {{company.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="signInForm.get('company').hasError('required')">
                            company address is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Usuario</mat-label>
                        <input id="email" matInput [formControlName]="'email'">
                        <mat-error *ngIf="signInForm.get('email').hasError('required')">
                            Email address is required
                        </mat-error>
                        <mat-error *ngIf="signInForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>Contraseña</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                        <button mat-icon-button type="button" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Actions -->
                    <div class="inline-flex items-end justify-between w-full mt-1.5">

                        <a class="text-md font-medium text-primary-500 hover:underline" [routerLink]="['/forgot-password']">olvide contraseña
                        </a>
                    </div>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'" [disabled]="signInForm.disabled" (click)="signIn()">
                        <span *ngIf="!signInForm.disabled">
                            Iniciar sesión
                        </span>
                        <mat-progress-spinner
                            *ngIf="signInForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
