<app-content [title]="title" [subtitle]="subtitle" [searchPanel]="searchPanel" class="w-full">
    <div *appAditional class="flex flex-col flex-auto sm:col-span-3 md:grid-cols-3 lg:col-span-3">
        <mat-form-field class="flex-auto gt-xs:pl-3">
            <input matInput (keyup)="applyFilter($event)" #input placeholder="Buscar empleado">
            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:search'"></mat-icon>
        </mat-form-field>
    </div>

    <div *appAditional class="flex-col flex-auto">
        <a class="btn-add" mat-button mat-flat-button [routerLink]="['create']">
            <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
            <span class="ml-4">Adicionar</span>
        </a>
    </div>

    <div *appPanels class="w-full">
        <!--
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
        -->

        <table mat-table matTableResponsive [dataSource]="elements" class="table-list-items">
            <div *ngFor="let column of colums; let i = index">
                <ng-container [matColumnDef]="colums[i].name">
                    <th mat-header-cell *matHeaderCellDef [style.background-color]="background" [style.color]="color">
                        {{ colums[i].label }}
                    </th>
                    <td mat-cell *matCellDef="let elements">
                        <div *ngIf="colums[i].name2 && !colums[i].styles" class="w-full">
                            <div *ngIf="colums[i].name2 !== null || !colums[i].name2">
                                {{ elements[colums[i]['name']][colums[i]['name2']] ? elements[colums[i]['name']][colums[i]['name2']] : '' }} </div>
                        </div>
                        <div *ngIf="colums[i].styles" class="w-full">
                            <div *ngFor="let item of colums[i].styles">
                                <div *ngIf="((elements[colums[i].name][colums[i].name2] ===  item.label)  ||
                                             (elements[colums[i].name] && (elements[colums[i].name] === item.label)) )" class="w-full content-center">
                                    <div class="p-1 w-full content-center rounded-2xl text-center" [style.background-color]="item.backgroundColor" [style.color]="item.textColor">
                                        <div *ngIf="!colums[i].name2 && colums[i].styleEnable">{{ elements[colums[i].name] | statusAdmin}}</div>
                                        <div *ngIf="colums[i].name2 && colums[i].styleEnable">{{ elements[colums[i]['name']][colums[i]['name2']] | statusAdmin}}</div>
                                        <div *ngIf="!colums[i].name2 && !colums[i].styleEnable">{{ elements[colums[i].name] }}</div>
                                        <div *ngIf="colums[i].name2 && !colums[i].styleEnable">{{ elements[colums[i]['name']][colums[i]['name2']] }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!colums[i].styles && !colums[i].name2">{{elements[colums[i].name] }}</div>
                    </td>
                </ng-container>
            </div>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="length" [pageSize]="size" showFirstLastButtons (page)="pageEvent=onChange($event)" [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </div>
</app-content>
