<app-content [title]="title" [subtitle]="subtitle" class="w-full">
    <div *appPanels class="w-full">
        <form [formGroup]="formInit">
            <mat-tab-group class="mt-8">
                <mat-tab label="Formulario">
                    <div class="form-employee flex flex-col flex-auto">
                        <div class="flex flex-col px-4 mx-1 mb-6">
                            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                <app-input-text label="{{ filterParamLabel('code') }}" formControlName="code" [required]="formInit.controls['code'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('code')?.disabled"></app-input-text>
                                <app-input-text label="{{ filterParamLabel('version') }}" formControlName="version" [required]="formInit.controls['version'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('version')?.disabled"></app-input-text>
                                <app-input-select label="{{ filterParamLabel('project') }}" [options]="projectList" formControlName="project" [required]="formInit.controls['project'].hasError('required')" [disabled]="formInit.get('project')?.disabled" [validateFormSumt]="validate"></app-input-select>
                            </div>

                            <div formGroupName="fieldsItems">

                                <div class="bg-[#CADAF6] my-3 py-2 text-center font-semibold text-xl">{{ filterParamValue('fixedTools') }}</div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('emery') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="emery" [required]="formInit.get('fieldsItems').controls['emery'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['emery']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="emeryObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['emeryObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['emeryObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('drill') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="drill" [required]="formInit.get('fieldsItems').controls['drill'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['drill']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="drillObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['drillObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['drillObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('press') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="press" [required]="formInit.get('fieldsItems').controls['press'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['press']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="pressObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['pressObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['pressObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('compressor') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="compressor" [required]="formInit.get('fieldsItems').controls['compressor'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['compressor']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="compressorObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['compressorObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['compressorObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('weldingMachine') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="weldingMachine" [required]="formInit.get('fieldsItems').controls['weldingMachine'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['weldingMachine']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="weldingMachineObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['weldingMachineObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['weldingMachineObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('polisher') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="polisher" [required]="formInit.get('fieldsItems').controls['polisher'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['polisher']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="polisherObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['polisherObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['polisherObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('gasCuttingEquipment') }}
                                        </div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="gasCuttingEquipment" [required]="formInit.get('fieldsItems').controls['gasCuttingEquipment'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['gasCuttingEquipment']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="gasCuttingEquipmentObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['gasCuttingEquipmentObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['gasCuttingEquipmentObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('handsaw') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="handsaw" [required]="formInit.get('fieldsItems').controls['handsaw'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['handsaw']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="handsawObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['handsawObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['handsawObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('vibrocompactador') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="vibrocompactador" [required]="formInit.get('fieldsItems').controls['vibrocompactador'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['vibrocompactador']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="vibrocompactadorObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['vibrocompactadorObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['vibrocompactadorObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('mixer') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="mixer" [required]="formInit.get('fieldsItems').controls['mixer'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['mixer']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="mixerObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['mixerObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['mixerObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('submersiblePump') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="submersiblePump" [required]="formInit.get('fieldsItems').controls['submersiblePump'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['submersiblePump']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="submersiblePumpObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['submersiblePumpObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['submersiblePumpObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('pressureWasher') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="pressureWasher" [required]="formInit.get('fieldsItems').controls['pressureWasher'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['pressureWasher']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="pressureWasherObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['pressureWasherObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['pressureWasherObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="bg-[#CADAF6] my-3 py-2 text-center font-semibold text-xl">{{ filterParamValue('handTools') }}</div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('doubleHandleHammerDrill') }}
                                        </div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="doubleHandleHammerDrill" [required]="formInit.get('fieldsItems').controls['doubleHandleHammerDrill'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['doubleHandleHammerDrill']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="doubleHandleHammerDrillObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['doubleHandleHammerDrillObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['doubleHandleHammerDrillObserv']?.disabled"></app-input-textarea>
                                </div>



                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('marshland') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="marshland" [required]="formInit.get('fieldsItems').controls['marshland'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['marshland']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="marshlandObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['marshlandObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['marshlandObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('singleDrillA') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="singleDrillA" [required]="formInit.get('fieldsItems').controls['singleDrillA'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['singleDrillA']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="singleDrillAObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['singleDrillAObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['singleDrillAObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('sander') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="sander" [required]="formInit.get('fieldsItems').controls['sander'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['sander']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="sanderObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['sanderObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['sanderObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('smallPolisherA') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="smallPolisherA" [required]="formInit.get('fieldsItems').controls['smallPolisherA'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['smallPolisherA']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="smallPolisherAObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['smallPolisherAObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['smallPolisherAObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('largePolisherB') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="largePolisherB" [required]="formInit.get('fieldsItems').controls['largePolisherB'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['largePolisherB']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="largePolisherBObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['largePolisherBObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['largePolisherBObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('shears') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="shears" [required]="formInit.get('fieldsItems').controls['shears'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['shears']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="shearsObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['shearsObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['shearsObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('largeHacksaw') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="largeHacksaw" [required]="formInit.get('fieldsItems').controls['largeHacksaw'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['largeHacksaw']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="largeHacksawObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['largeHacksawObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['largeHacksawObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('bigHammer') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="bigHammer" [required]="formInit.get('fieldsItems').controls['bigHammer'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['bigHammer']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="bigHammerObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['bigHammerObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['bigHammerObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('hammers') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="hammers" [required]="formInit.get('fieldsItems').controls['hammers'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['hammers']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="hammersObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['hammersObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['hammersObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('knives') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="knives" [required]="formInit.get('fieldsItems').controls['knives'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['knives']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="knivesObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['knivesObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['knivesObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('extensionLadder') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="extensionLadder" [required]="formInit.get('fieldsItems').controls['extensionLadder'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['extensionLadder']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="extensionLadderObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['extensionLadderObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['extensionLadderObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('fixedLadder') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="fixedLadder" [required]="formInit.get('fieldsItems').controls['fixedLadder'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['fixedLadder']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="fixedLadderObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['fixedLadderObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['fixedLadderObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('machete') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="machete" [required]="formInit.get('fieldsItems').controls['machete'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['machete']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="macheteObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['macheteObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['macheteObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('gusts') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="gusts" [required]="formInit.get('fieldsItems').controls['gusts'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['gusts']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="gustsObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['gustsObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['gustsObserv']?.disabled"></app-input-textarea>
                                </div>


                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('drillBits') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="drillBits" [required]="formInit.get('fieldsItems').controls['drillBits'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['drillBits']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="drillBitsObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['drillBitsObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['drillBitsObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('fixedWrenches') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="fixedWrenches" [required]="formInit.get('fieldsItems').controls['fixedWrenches'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['fixedWrenches']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="fixedWrenchesObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['fixedWrenchesObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['fixedWrenchesObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('electricalTweezers') }}
                                        </div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="electricalTweezers" [required]="formInit.get('fieldsItems').controls['electricalTweezers'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['electricalTweezers']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="electricalTweezersObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['electricalTweezersObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['electricalTweezersObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('needleNoseTweezers') }}
                                        </div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="needleNoseTweezers" [required]="formInit.get('fieldsItems').controls['needleNoseTweezers'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['needleNoseTweezers']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="needleNoseTweezersObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['needleNoseTweezersObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['needleNoseTweezersObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('screwdrivers') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="screwdrivers" [required]="formInit.get('fieldsItems').controls['screwdrivers'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['screwdrivers']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="screwdriversObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['screwdriversObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['screwdriversObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('decameters') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="decameters" [required]="formInit.get('fieldsItems').controls['decameters'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['decameters']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="decametersObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['decametersObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['decametersObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('tapeMeasures') }}</div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="tapeMeasures" [required]="formInit.get('fieldsItems').controls['tapeMeasures'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['tapeMeasures']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="tapeMeasuresObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['tapeMeasuresObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['tapeMeasuresObserv']?.disabled"></app-input-textarea>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  lg:grid-cols-4 gap-x-4 w-full mt-6">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2 font-semibold">{{ filterParamValue('needleNosePlierss') }}
                                        </div>
                                    </div>
                                    <app-input-select [options]="toolsInspectionStatus" label="{{ filterParamValue('reviewStatus') }}" formControlName="needleNosePlierss" [required]="formInit.get('fieldsItems').controls['needleNosePlierss'].hasError('required')" [validateFormSumt]="validate"
                                        [disabled]="formInit.get('fieldsItems').controls['needleNosePlierss']?.disabled"></app-input-select>
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="needleNosePlierssObserv" class="flex flex-col flex-auto sm:col-span-1 md:col-span-2 lg:col-span-2" [required]="formInit.get('fieldsItems').controls['needleNosePlierssObserv'].hasError('required')"
                                        rows="1" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['needleNosePlierssObserv']?.disabled"></app-input-textarea>
                                </div>
                            </div>
                            <div class="bg-[#CADAF6] my-3 py-2 text-center font-semibold text-xl">{{ filterParamLabel('signatures') }}</div>
                            <app-approval [formId]="id" formControlName="trainingApproval" [disabled]="formInit.get('trainingApproval')?.disabled"></app-approval>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Evidencias" class="sign">
                    <app-multimedia [items]="filesItems" searchPanel="true" formControlName="filesUpload" [disabled]="modView"></app-multimedia>
                </mat-tab>
            </mat-tab-group>
            <div *ngIf="modView" class="pl-18">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-4 w-full">
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center  w-32" mat-button mat-flat-button [color]="'primary'" [disabled]="formInit.invalid" (click)="onSubmit()">
                            <span class="ml-7">{{ filterParamLabel('save') }}</span>
                        </a>
                    </div>
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center  w-32" mat-button mat-flat-button (click)="formInit.reset()">
                            <span class="ml-7">{{ filterParamLabel('cancel') }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-content>