<app-content [title]="title" [subtitle]="subtitle" class="w-full">
    <div *appPanels class="w-full">
        <form [formGroup]="formInit">
            <mat-tab-group class="mt-8">
                <mat-tab label="Formulario">
                    <div class="form-employee flex flex-col flex-auto">
                        <div class="flex flex-col px-4 mx-1 mb-6">
                            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                <app-input-text label="{{ filterParamLabel('code') }}" formControlName="code" [required]="formInit.controls['code'].hasError('required')" [disabled]="formInit.get('code')?.disabled" [validateFormSumt]="validate"></app-input-text>
                                <app-input-text label="{{ filterParamLabel('version') }}" formControlName="version" [required]="formInit.controls['version'].hasError('required')" [disabled]="formInit.get('version')?.disabled" [validateFormSumt]="validate"></app-input-text>
                                <app-input-select label="{{ filterParamLabel('project') }}" [options]="projectList" formControlName="projectUid" [required]="formInit.controls['projectUid'].hasError('required')" [disabled]="formInit.get('projectUid')?.disabled" [validateFormSumt]="validate"></app-input-select>
                            </div>

                            <div formGroupName="fieldsItems">

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <app-input-text label="{{ filterParamLabel('location') }}" formControlName="location" [required]="formInit.get('fieldsItems').controls['location'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['location']?.disabled"></app-input-text>
                                    <app-input-text label="{{ filterParamValue('numberStairs') }}" formControlName="numberStairs" [required]="formInit.get('fieldsItems').controls['numberStairs'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['numberStairs']?.disabled"></app-input-text>
                                    <app-input-text label="{{ filterParamLabel('height') }}" formControlName="height" [required]="formInit.get('fieldsItems').controls['height'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['height']?.disabled"></app-input-text>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <app-input-text label="{{ filterParamValue('strength') }}" formControlName="strength" [required]="formInit.get('fieldsItems').controls['strength'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['strength']?.disabled"></app-input-text>
                                    <app-input-text label="{{ filterParamValue('material') }}" formControlName="material" [required]="formInit.get('fieldsItems').controls['material'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['material']?.disabled"></app-input-text>
                                    <app-input-select [options]="typeStairs" label="{{ filterParamValue('typeStairs') }}" formControlName="typeStairs" [required]="formInit.get('fieldsItems').controls['typeStairs'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['typeStairs']?.disabled"></app-input-select>
                                </div>

                                <div class="bg-[#CADAF6] my-3 py-2 text-center font-semibold text-xl">{{ filterParamValue('VERIFICATION') }}</div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('pawsP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('pawsS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="paws" [required]="formInit.get('fieldsItems').controls['paws'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['paws']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('railsP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('railsS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="rails" [required]="formInit.get('fieldsItems').controls['rails'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['rails']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('stepP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('stepS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="step" [required]="formInit.get('fieldsItems').controls['step'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['step']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('topStopP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('topStopS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="topStop" [required]="formInit.get('fieldsItems').controls['topStop'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['topStop']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('staircaseInsuranceP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('staircaseInsuranceS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="staircaseInsurance" [required]="formInit.get('fieldsItems').controls['staircaseInsurance'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['staircaseInsurance']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('hingesP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('hingesS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="hinges" [required]="formInit.get('fieldsItems').controls['hinges'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['hinges']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('pulleyP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('pulleyS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="pulley" [required]="formInit.get('fieldsItems').controls['pulley'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['pulley']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('stringerGuidesP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('stringerGuidesS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="stringerGuides" [required]="formInit.get('fieldsItems').controls['stringerGuides'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['stringerGuides']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('platformP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('platformS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="platform" [required]="formInit.get('fieldsItems').controls['platform'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['platform']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('railingP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('railingS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="railing" [required]="formInit.get('fieldsItems').controls['railing'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['railing']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('wheelsBrakesP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('wheelsBrakesS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="wheelsBrakes" [required]="formInit.get('fieldsItems').controls['wheelsBrakes'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['wheelsBrakes']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('cleaningP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('cleaningS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="cleaning" [required]="formInit.get('fieldsItems').controls['cleaning'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['cleaning']?.disabled"></app-input-select>
                                </div>

                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-4 w-full">
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('tagsP') }}</div>
                                    </div>
                                    <div class="flex flex-col flex-auto">
                                        <div class="pt-2  font-semibold">{{ filterParamValue('tagsS') }}</div>
                                    </div>
                                    <app-input-select [options]="stateVerification" label="{{ filterParamLabel('state') }}" formControlName="tags" [required]="formInit.get('fieldsItems').controls['tags'].hasError('required')" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['tags']?.disabled"></app-input-select>
                                </div>

                                <div class="bg-[#CADAF6] my-3 py-3 text-center font-semibold text-xl">{{ filterParamLabel('OBSERVATIONST') }}</div>
                                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-x-4 w-full">
                                    <app-input-textarea label="{{ filterParamLabel('observations') }}" formControlName="observations" [required]="formInit.get('fieldsItems').controls['observations'].hasError('required')" rows="5" [validateFormSumt]="validate" [disabled]="formInit.get('fieldsItems').controls['observations']?.disabled"></app-input-textarea>
                                </div>
                            </div>

                            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3  lg:grid-cols-3 gap-x-4 w-full">
                                <div class="flex flex-col flex-auto" (click)="getPreview(image.img1)">
                                    <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat">
                                        <img [src]="image.img1" class="rounded border bg-white p-1 dark:border-neutral-700 dark:bg-neutral-800 cursor-pointer">
                                        <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-gray-800 bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-50 content-center pl-20 cursor-pointer">
                                            <span class="text-white text-xl font-bold">{{ filterParamLabel('enlarge') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto" (click)="getPreview(image.img2)">
                                    <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat">
                                        <img [src]="image.img2" class="rounded border bg-white p-1 dark:border-neutral-700 dark:bg-neutral-800 cursor-pointer">
                                        <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-gray-800 bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-50 content-center pl-20 cursor-pointer">
                                            <span class="text-white text-xl font-bold">{{ filterParamLabel('enlarge') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto" (click)="getPreview(image.img3)">
                                    <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat">
                                        <img [src]="image.img3" class="rounded border bg-white p-1 dark:border-neutral-700 dark:bg-neutral-800 cursor-pointer">
                                        <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-gray-800 bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-50 content-center pl-20 cursor-pointer">
                                            <span class="text-white text-xl font-bold">{{ filterParamLabel('enlarge') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-[#CADAF6] my-3 py-2 text-center font-semibold text-xl">{{ filterParamLabel('signatures') }}</div>
                            <app-approval [formId]="id" formControlName="trainingApproval" [disabled]="formInit.get('trainingApproval')?.disabled"></app-approval>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{ filterParamLabel('evidence') }}" class="sign">
                    <app-multimedia [items]="filesItems" searchPanel="true" formControlName="filesUpload" [disabled]="modView"></app-multimedia>
                </mat-tab>
            </mat-tab-group>
            <div *ngIf="modView" class="pl-18">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-4 w-full">
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center w-32" mat-button mat-flat-button [color]="'primary'" [disabled]="formInit.invalid" (click)="onSubmit()">
                            <span class="ml-7">{{ filterParamLabel('save') }}</span>
                        </a>
                    </div>
                    <div class="flex flex-col flex-auto">
                        <a class="mt-1 pl-2 px-12 text-center  w-32" mat-button mat-flat-button (click)="formInit.reset()">
                            <span class="ml-7">{{ filterParamLabel('cancel') }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-content>